<div>
    <h1>Orders</h1>
    <div>
        <h2>Current order</h2>
        <%= current_order(@cur_order, "You dont have any items in your current order", true) %>
        <% unless check_if_order_empty(@cur_order) %>
            <%= form_with url: orders_accept_path do |f| %>
                <%= f.submit "Оплатить" %>
            <% end %>
        <% end %>
    </div>

    <div>
        <h2>Order history</h2>
        
            <% order_history(@order_history).reverse_each do |order_history| %>
                <%= order_history.html_safe %>
            <% end %>
    </div>
</div>