// Place all the styles related to the AdminOverUser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    p {
        align-self: center;
        label {
            width: 100%;
            display: block;
        }
    }
}